<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e_robotiq" >

	<xacro:arg name="sim" default="true"/>
  <xacro:property name="sim" value="$(arg sim)"/>
  
  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />
  <!-- ur5e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />
  <!-- robotiq -->
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
  <!-- table -->
  <xacro:include filename="$(find ur5e_robotiq_description)/urdf/table_ur.urdf.xacro" />
  <!-- camera -->
  <!-- <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" /> -->

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur5e_default.yaml"/>
  <xacro:ur5e_robot prefix="" joint_limited="false"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"/>

  <!-- gripper -->
  <xacro:robotiq_85_gripper prefix="" parent="wrist_3_link" >
    <origin xyz="0 0.1 0" rpy="0 0 ${pi/2}"/>
  </xacro:robotiq_85_gripper>

  <!-- ur5e -->
  <xacro:property name="damping_value" value="10" />
  <xacro:property name="friction_value" value="0.1" />

  <!-- <xacro:include filename="$(find pr2_description)/urdf/common.xacro" /> -->

  <link name="world" />

  <!-- <xacro:arg name="use_nominal_extrinsics" default="True" />
	<xacro:if value="${sim}">
	  <xacro:sensor_d435 parent="world">
	    <origin xyz="0.27 0.9 1.23" rpy="0 0 0"/>
	  </xacro:sensor_d435>
	</xacro:if> -->

	<!--camera world-->
	<!-- <xacro:unless value="${sim}">
	  <link name="camera_link"/>
	  <joint name="camera_joint" type="fixed">
		<parent link="world"/>
		<child link="camera_link"/>
		<origin xyz="0.27 0.9 1.5" rpy="${pi/4} ${pi/2} 0"/>
	  </joint>
	</xacro:unless> -->

  <!-- wall -->
  <xacro:include filename="$(find ur5e_robotiq_description)/urdf/cell_wall.urdf.xacro" />

  <!-- table world -->
	<xacro:table prefix="table_" parent="world">
  	  <origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:table>

  <!-- wall table -->
	<xacro:cell_wall prefix="back_" parent="table_platform_base" cell_width="0.96">
  	  <origin xyz="0 0 0.01" rpy="0 0 0"/>
	</xacro:cell_wall>
  	<xacro:cell_wall prefix="right_" parent="table_platform_base" cell_width="1.44">
  	  <origin xyz="0.05 0.06 0.01" rpy="0 0 1.57"/>
	</xacro:cell_wall>
  	<xacro:cell_wall prefix="left_" parent="table_platform_base" cell_width="1.44">
  	  <origin xyz="0.96 0.06 0.01" rpy="0 0 1.57"/>
	</xacro:cell_wall>
  
  <!-- arm base and table -->
  <joint name="table_joint" type="fixed">
    <parent link="table_platform_flange" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 0.0" />
  </joint>

</robot>